@mixin phone-font()
    font-family: 'Times New Roman', Times, serif
    
    
@media only screen and (max-width: 899px)
    #container
        top: 17px
        height: 80vh
        z-index: -1
        .container-1
        position: sticky
        height: 80vh
        .banner
            height: 88vh
            z-index: 1
            .first
            height: 100vh
            object-fit: cover
    .kto
        display: flex
        justify-content: center
        font-family: 'Trirong'
        font-style: normal
        font-weight: 800
        font-size: 26px
        line-height: 40px
        background-color: #b8252c
        color: #fff8f8
        padding: 10px 0 10px 0
    main
        display: flex
        justify-content: center
        align-items: center 
        background-color: #cdcdcd
        flex-direction: column
        overflow: hidden
        .admission-container
            display: grid
            grid-template-columns: 1fr
            background-color: #ffffff
            margin: 20px 0
            
            ul  
                margin: 0
                              
                div
                    @include phone-font()
                    display: none
                    font-size: 20px
                    font-weight: 700
                    
                    
                    div
                        
                        border-radius: 5px
                    .grade-7 
                        
                        width: 0
                        border: 1px solid lime
                    .grade-11
                        width: 0
                        border: 1px solid violet
                    .grade-12
                        width: 0
                        border: 1px solid orange
                    .grade-other12
                        width: 0
                        border: 1px solid orange
                    .grade-other
                        width: 0
                        border: 1px solid brown
                li
                                margin: 5px
                                @include phone-font()
                                font-size: 18px
                                width: 70%
                                font-weight: 600
            div
                @include phone-font()
                display: grid
                grid-template-columns: 1fr1fr
                place-items: center
                font-size: 20px
                margin: 40px 20px 20px 20px
                font-weight: 700
                text-align: center
                font-family: 'Times New Roman', Times, serif
                h2
                    color: #db3e3e
                h3
                    width: 90%
                    font-size: 19px
                    font-family: Arial, Helvetica, sans-serif
        .margin
            
            text-align: center
            margin-bottom: 50px
            

            
                
                    
@mixin font()
    font-family: 'Times New Roman', Times, serif
    font-size: 25px


@media only screen and (min-width: 900px)  
    #container
        top: 17px
        height: 80vh
        z-index: -1
        .container-1
        position: sticky
        height: 80vh
        .banner
            height: 88vh
            z-index: 1
            .first
            height: 100vh
            object-fit: cover
    .kto
        display: flex
        justify-content: center
        font-family: 'Trirong'
        font-style: normal
        font-weight: 800
        font-size: 40px
        line-height: 40px
        background-color: #b8252c
        color: #fff8f8
        padding: 30px 0 30px 0
    main
        display: flex
        justify-content: center
        align-items: center 
        background-color: #cdcdcd
        flex-direction: column
        
        div
            display: grid
            grid-template-columns: 1fr1fr
            background-color: #ffffff
            margin: 50px
            ul  
                display: grid
                grid-template-columns: 1fr1fr1fr1fr
                place-items: center
                
                div
                    @include font()
                    font-size: 30px
                    font-weight: 700
                    
                    div
                        
                        border-radius: 5px
                    .grade-7 
                        
                        width: 74rem
                        border: 1px solid lime
                    .grade-11
                        width: 28rem
                        border: 1px solid violet
                    .grade-12
                        width: 28rem
                        border: 1px solid orange
                    .grade-other12
                        width: 46rem
                        border: 1px solid orange
                    .grade-other
                        width: 28rem
                        border: 1px solid brown

                .margin
                    margin-bottom: 50px
                li
                    margin: 5px
                    @include font()
                    font-size: 25px
                    width: 70%
                    font-weight: 600
            .phone
                display: none
            div
                @include font()
                display: grid
                grid-template-columns: 1fr1fr
                place-items: center
                
                h2
                    color: #db3e3e
                h3
                    width: 70%
                
                    