@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff8f8;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

p {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding: 0;
}

#container {
  min-height: 100%;
  padding-bottom: 50px;
}

.grey {
  color: #c9c8c8;
}

/* navigation styles start here */
header {
  background: rgba(35, 35, 35, 0.631372549);
  text-align: center;
  position: fixed;
  z-index: 9;
  top: 30px;
  width: 100vw;
}

/* (phone) about us style start*/
.op:focus-within .drop-down {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  position: xsolute;
  /* (phone) about us style end*/
}

/* changed this from the tutorial video to
 * allow it to gain focus, making it tabbable */
.drop-down {
  display: flex;
  flex-direction: column;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(173, 216, 230, 0.75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before, .nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before, .nav-toggle-label span::after {
  content: "";
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: right;
  top: 100%;
  left: 0;
  background-color: #b8252c;
  z-index: 5;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-right: 1em;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.topbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.topbar .top-left2 {
  display: flex;
  grid-column: 2/3;
  justify-content: center;
  align-items: center;
  color: #c9c8c8;
  padding: 0 8px 0 8px;
  margin: 0 5px 0 25px;
  font-weight: 800;
}

.timer {
  margin: 0;
  padding: 0;
  font-size: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  top: 0;
  background-color: #b8252c;
  height: 30px;
  width: 100vw;
  color: white;
}
.timer .timer-left {
  display: flex;
  flex-wrap: nowrap;
  font-size: 18px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}
.timer .timer-left a {
  position: relative;
  top: 0;
  margin: 0;
  height: 30px;
  width: 16px;
  text-decoration: none;
}
.timer .timer-left a svg {
  position: absolute;
  top: 0;
  height: 30px;
  width: 20px;
}

.frame-red {
  bottom: 0;
  background-color: #942424;
  padding: 10px 20px;
}
.frame-red .contactus-3 {
  margin: 20px 20px;
  border: solid 3px white;
  padding: 20px 20px;
  color: white;
  display: flex;
  flex-direction: column-reverse;
}
.frame-red .contactus-3 .contactus-3-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.frame-red .contactus-3 .contactus-3-1 .contactus-3-text {
  font-weight: 700;
}
.frame-red .contactus-3 form .form-group {
  margin-bottom: 15px;
}
.frame-red .contactus-3 form .form-group label {
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}
.frame-red .contactus-3 form .form-group input[type=text] {
  width: 55vw;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.frame-red .contactus-3 form .form-group input[type=email] {
  width: 55vw;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.frame-red .contactus-3 form .form-group textarea {
  width: 55vw;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  height: 80px;
}
.frame-red .contactus-3 form button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e0e0e;
  color: white;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-weight: 700;
}
.frame-red .contactus-3 form button .send {
  display: flex;
  font-size: 20px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
.frame-red .contactus-3 form button:hover {
  background-color: #414141;
}
.frame-red .contactus-3 .contactus-3-2 {
  display: grid;
}
.frame-red .contactus-3 .contactus-3-2 .contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
  font-weight: 700;
}
.frame-red .contactus-3 .contactus-3-2 .contact-info h3 {
  text-align: center;
  font-size: 37px;
  font-weight: 700;
}
.frame-red .contactus-3 .contactus-3-2 .contact-info p {
  color: white;
}
.frame-red .contactus-3 .contactus-3-2 .hours {
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.frame-red .contactus-3 .contactus-3-2 .hours h3 {
  font-size: 37px;
  font-weight: 700;
}
.frame-red .contactus-3 .contactus-3-2 .hours p {
  color: white;
}

@media screen and (min-width: 900px) {
  .timer-right {
    display: flex;
    flex-wrap: nowrap;
    font-size: 14px;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    justify-content: right;
    padding-right: 20px;
  }
  .timer-right .fb {
    right: 70px;
  }
  .timer-right .ig {
    color: red;
    right: 50px;
  }
  .timer-right .e-mail {
    color: black;
    right: 23px;
  }
}
/* Phone Style Start */
@media screen and (max-width: 899px) {
  .spaces {
    display: none;
  }
  .timer {
    margin: 0;
    padding: 0;
    font-size: 12px;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    position: fixed;
    top: 0;
    background-color: #b1040d;
    height: 30px;
    width: 100vw;
  }
  .timer .timer-left {
    display: flex;
    flex-wrap: nowrap;
    font-size: 14px;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
  }
  .timer .timer-right {
    display: flex;
    flex-wrap: nowrap;
    font-size: 14px;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    justify-content: right;
  }
  .timer .timer-right .fb {
    right: 20px;
  }
  .timer .timer-right .ig {
    color: red;
  }
  .timer .timer-right .e-mail {
    color: black;
  }
  #container {
    position: sticky;
    top: 0px;
    height: 50vh;
    z-index: -1;
  }
  #container .container-1 {
    position: absolute;
    height: 52vh;
  }
  #container .container-1 .banner {
    height: 50vh;
    z-index: 1;
  }
  #container .container-1 .banner .first {
    width: 100vw;
    height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #container .container-1 .banner2 {
    display: flex;
    position: absolute;
    top: 150px;
    justify-content: center;
    font-weight: 800;
    color: #fff8f8;
    font-family: "Trirong";
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 71px;
    text-align: center;
    width: 100%;
  }
  .frame {
    background-color: #fff8f8;
  }
  .frame .fr1-1 {
    margin-bottom: 10px;
  }
  .frame .fr1-1 .fr1-1-2 {
    display: flex;
    padding-top: 35px;
    justify-content: center;
    margin-bottom: 40px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 24px;
  }
  .frame .fr1-1 .goal-text {
    font-family: "Trirong";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    margin: 0 50px 0 50px;
  }
  .frame .fr1-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }
  .frame .fr1-2 iframe {
    width: 90%;
    aspect-ratio: 16/9;
  }
  .frame .fr1-3 {
    min-width: 200px;
    grid-gap: 70px;
    margin-top: 30px;
    background-color: #dadada;
  }
  .frame .fr1-3 .programs {
    display: flex;
    align-items: center;
  }
  .frame .fr1-3 div {
    max-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .frame .fr1-3 div .pic {
    -o-object-fit: cover;
       object-fit: cover;
    top: 10px;
    width: 100%;
    height: 100%;
  }
}
.fr1-3 {
  display: grid;
  grid-template-columns: 1fr 3fr;
}/*# sourceMappingURL=aphone-header.css.map */