@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@media only screen and (min-width: 899px) {
  header {
    display: grid;
    position: fixed;
    grid-template-columns: 0 350px 1fr;
    justify-content: left;
  }
  header .topbar .top-left2 {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 5px 8px 5px 8px;
    margin: 0 5px 0 20px;
    font-family: "Trirong";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 60px;
  }
  header .topbar .top-left2:hover {
    opacity: 70%;
  }
  header nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    right: 8rem;
    grid-column: 3/4;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  header nav ul {
    gap: 30px;
    display: flex;
  }
  header nav ul li {
    margin-bottom: 0;
  }
  header nav ul li a {
    font-family: "Trirong";
    font-style: normal;
    font-weight: 800;
    line-height: 35px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    opacity: 1;
    position: relative;
  }
  header nav ul li a::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  header nav ul li a:hover::before {
    transform: scale(1, 1);
  }
  header nav .top-font {
    font-family: "Trirong";
    font-style: normal;
    font-weight: 800;
    line-height: 35px;
    content: "\f229";
    font-size: 24px;
  }
  header nav .drop-down {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: none;
    gap: 10px;
    background-color: rgba(253, 36, 36, 0.8509803922);
    z-index: 3;
  }
  header nav .op:focus-within .drop-down {
    display: grid;
    grid-template-columns: 160px;
  }
  header nav .op:focus-within .admission {
    margin: 5px 620px 0px 0;
    padding: 20px 0 10px 0;
  }
  header nav .op:focus-within .programs {
    margin: 5px 410px 0 0;
    padding: 20px 0 10px 0;
  }
  header nav .op:focus-within .about {
    margin: 5px -30px 0 0;
    padding: 20px 0 10px 0;
  }
  header nav .op:focus-within .abtus {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    top: 0;
  }
  header nav .op:focus-within .abtus2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  header .nav-toggle-label {
    display: none;
  }
  .frame-red {
    bottom: 0;
    background-color: white;
    padding-bottom: 20px;
  }
  .frame-red .contactus-1 {
    font-weight: 700;
  }
  .frame-red .contactus-2 {
    font-weight: 700;
  }
  .frame-red .contactus-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .frame-red .contactus-3 .contactus-3-1 {
    margin-left: 100px;
  }
  .frame-red .contactus-3 .contactus-3-1 .form-group {
    margin-bottom: 20px;
  }
  .frame-red .contactus-3 .contactus-3-1 .form-group label {
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
  }
  .frame-red .contactus-3 .contactus-3-1 .form-group input[type=text] {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .frame-red .contactus-3 .contactus-3-1 .form-group input[type=email] {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .frame-red .contactus-3 .contactus-3-1 .form-group textarea {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
  .frame-red .contactus-3 .contactus-3-1 .form-group button.send {
    display: block;
    font-size: 30px;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .frame-red .contactus-3 .contactus-3-1 .form-group button:hover {
    background-color: #c5c5c5;
  }
  .frame-red .contactus-3 .contactus-3-2 {
    display: grid;
  }
  .frame-red .contactus-3 .contactus-3-2 .contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    font-weight: 700;
  }
  .frame-red .contactus-3 .contactus-3-2 .contact-info h3 {
    font-size: 37px;
    font-weight: 700;
  }
  .frame-red .contactus-3 .contactus-3-2 .hours {
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .frame-red .contactus-3 .contactus-3-2 .hours h3 {
    font-size: 37px;
    font-weight: 700;
  }
}/*# sourceMappingURL=desktop.css.map */