@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff8f8;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

h3, p {
  margin: 5px 0 5px 0;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container2-logo {
  position: absolute;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8274509804);
  top: 15%;
  left: 43%;
}

.container2-2 {
  justify-content: center;
}

.first {
  display: flex;
  z-index: -1;
}

.front-text {
  font-size: larger;
}

.div-home {
  background-color: rgba(255, 255, 255, 0.9647058824);
}

.quote {
  display: flex;
  background-color: #f3d9d9;
  justify-content: center;
  text-align: center;
}

.upper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  width: min(100%, 80rem);
  margin-inline: auto;
  padding: 2em;
  min-width: 70vw;
  min-height: 30vh;
  gap: 3rem;
}

.border {
  background-color: hsl(0, 100%, 92%);
  border-radius: 10px;
  border: 4px solid rgb(0, 119, 255);
  transition: 500ms;
}

.upper-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 400px;
  width: 20em;
  border-radius: 20px;
  padding: 2em;
  position: relative;
  text-align: center;
}

.intro {
  color: hsl(0, 95%, 23%);
  font-style: oblique;
  top: 70px;
  left: 93px;
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
}

.g {
  border-color: #9CFF2E;
  background-color: #d8ffb1;
  box-shadow: 7px 5px 3px rgba(157, 192, 139, 0.5058823529);
  color: black;
}

.y {
  border-color: #FDFF00;
  background-color: #F3E99F;
  box-shadow: 7px 5px 3px rgba(157, 192, 139, 0.4901960784);
  color: black;
}

.r {
  border-color: #FF1700;
  background-color: #F7A4A4;
  box-shadow: 7px 5px 3px rgba(157, 192, 139, 0.4431372549);
  color: black;
}

.b {
  border-color: #31E1F7;
  background-color: rgba(180, 228, 255, 0.4156862745);
  color: black;
}

.v {
  border-color: #7149C6;
  background-color: #D9ACF5;
  box-shadow: 7px 5px 3px #D9ACF5;
  color: black;
}

.o {
  border-color: #FF8D29;
  background-color: #F4D19B;
  box-shadow: 7px 5px 3px #F4D19B;
  color: black;
}

b {
  color: black;
}

.name {
  font-weight: 600;
  padding-top: 10px;
}

.about {
  display: flex;
  margin: 1rem 0 5px 0;
  font-family: Garamond, serif;
  justify-content: center;
}

.button {
  background-color: rgba(168, 41, 41, 0.801);
  color: white;
  font-size: 120%;
  padding: 6px 50px 7px 50px;
  border-radius: 15px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.788);
}
.button:active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.822) inset;
}

#footer {
  background-color: aquamarine;
  position: relative;
  opacity: 100%;
  height: 150px;
  margin-top: -150px;
  text-align: center;
}

@media screen and (min-width: 900px) {
  #container2 {
    min-height: 100%;
    padding-bottom: 250px;
  }
  .container2-1 {
    padding: 3em;
    margin: 4rem 0 0 0;
    justify-content: center;
    min-height: 100%;
    padding-bottom: 250px;
    grid-gap: 2em;
  }
}
@media screen and (max-width: 899px) {
  #container2 {
    min-height: 100%;
  }
  .container2-1 {
    justify-content: center;
    min-height: 100%;
    grid-gap: 2em;
  }
}/*# sourceMappingURL=enrollment.css.map */