#container
  height: 60vh
  .container-1
    height: 60vh
    place-items: center
main
  display: flex
  justify-content: center
  flex-wrap: wrap
  margin: 5%
  .Facilities-container
    display: flex
    margin: 20px
    .facilities
      display: flex
      flex-direction: column
      width: 360px
      height: 350px
      background-color: #ffadad
      .facilities-1
        display: flex
        margin: 30px 30px 0 30px
        width: 340px
        height: 200px
        img
          width: 88%
          height: 80%
          object-fit: fill
      .facilities-2
        display: flex
        justify-content: center
        align-items: center