@media screen and (max-width: 899px)
  main
    display: flex
    justify-content: center
    background-color: #f4f4f4
    section
      margin: 10px 0
      .carousel 
        width: 100vw 
        height: 360px
        position: relative 
          
        & > ul 
            margin: 0 
            padding: 0 
            list-style: none 
        .carousel-button 
          position: absolute 
          z-index: 2 
          background: none 
          border: none 
          font-size: 2rem 
          bottom: 0px 
          transform: translateY(-50%) 
          color: rgba(255, 255, 255, .5) 
          cursor: pointer 
          border-radius: .25rem 
          padding: 0 .5rem 
          background-color: rgba(0, 0, 0, .1) 
          &:focus 
              outline: 1px solid black 
          &.prev 
              left: 1rem 
          &.next 
              right: 1rem 
          &:hover
              color: white 
              background-color: rgba(0, 0, 0, .2) 
          &:focus 
              color: white 
              background-color: rgba(0, 0, 0, .2) 
        .slide 
          display: flex
          justify-content: center
          align-items: center
          position: absolute 
          inset: 0 
          opacity: 0 
          transition: 200ms opacity ease-in-out 
          transition-delay: 200ms 
          img 
              display: block 
              width: 100vw
              height: 100%
              object-fit: cover 
              object-position: center 
        .slide[data-active] 
            opacity: 1 
            z-index: 1 
            transition-delay: 0ms 
    .Facilities-container
      display: flex
      margin: 20px
      .facilities
        display: flex
        flex-direction: column
        width: 360px
        height: 350px
        background-color: #ffadad
        .facilities-1
          display: flex
          margin: 30px 30px 0 30px
          width: 340px
          height: 200px
          img
            width: 88%
            height: 80%
            object-fit: fill
        .facilities-2
          display: flex
          justify-content: center
          align-items: center
@media screen and (min-width: 900px)
  #container
    height: 60vh
    .container-1
      height: 60vh
      place-items: center
  main
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin: 10% 0 5% 0
    section
      margin: 50px 0
      .carousel 
        width: 80vw 
        height: 65vh 
        position: relative 
          
        & > ul 
            margin: 0 
            padding: 0 
            list-style: none 
        .carousel-button 
          position: absolute 
          z-index: 2 
          background: none 
          border: none 
          font-size: 4rem 
          top: 50% 
          transform: translateY(-50%) 
          color: rgba(255, 255, 255, .5) 
          cursor: pointer 
          border-radius: .25rem 
          padding: 0 .5rem 
          background-color: rgba(0, 0, 0, .1) 
          &:focus 
              outline: 1px solid black 
          &.prev 
              left: 1rem 
          &.next 
              right: 1rem 
          &:hover
              color: white 
              background-color: rgba(0, 0, 0, .2) 
          &:focus 
              color: white 
              background-color: rgba(0, 0, 0, .2) 
        .slide 
          display: flex
          justify-content: center
          align-items: center
          position: absolute 
          inset: 0 
          opacity: 0 
          transition: 200ms opacity ease-in-out 
          transition-delay: 200ms 
          img 
              display: block 
              width: 70vw
              height: 100%
              object-fit: cover 
              object-position: center 
        .slide[data-active] 
            opacity: 1 
            z-index: 1 
            transition-delay: 0ms 
    .Facilities-container
      display: flex
      margin: 20px
      .facilities
        display: flex
        flex-direction: column
        width: 360px
        height: 350px
        background-color: #ffadad
        .facilities-1
          display: flex
          margin: 30px 30px 0 30px
          width: 340px
          height: 200px
          img
            width: 88%
            height: 80%
            object-fit: fill
        .facilities-2
          display: flex
          justify-content: center
          align-items: center